body {
  background: linear-gradient(to right, #000000, #6c7a00,#ff9500);
  color: #ffffff;
}

h1 {
  margin: 50px 0;
}

.formulaImg {
  width: clamp(200px, 50%, 480px);
  border: solid 6px #7f1a1a;
}

input,
button {
  background-color: #7f1a1a;
  color: #ffffff;
  border: none;
  padding: 10px;
  margin: 5px;
}

::selection {
  background: #246600;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #ff4747;
}

h3 {
  margin-top: 50px;
}

#volumeResult {
  font-size: 28px;
  color: #ff0000;
}